<!DOCTYPE html>
<html>
  <head>
    <title>James Newton</title>

    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://i.imgur.com/wSrByfw.png">
    <meta property="og:image:height" content="300">
    <meta property="og:image:width" content="300">
    <meta property="og:site_name" content="James Newton">
    <meta property="profile:first_name" content="James">
    <meta property="profile:last_name" content="Newton">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:creator" content="@jameswritescode">
    <meta property="twitter:site" content="@jameswritescode">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
    <%= content_for(:app) %>
  </head>

  <body>
    <%= yield %>

    <div id="mount"></div>

    <%= render 'layouts/rollbar' %>
  </body>
</html>
